/**
	Startpage Reworked
	==================

	by Barlend,
*/



body {
	background: url('Clouds.png') no-repeat center center fixed;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
	background-size: cover;									
	color: #989898;
        font-size: 10px; 0px
	text-shadow: rgba(0,0,0,0.6) 1px 1px 0; /* Text Shadow */	
	padding: 10px;
}

a {
	color: #52544D;														/* Link Color */
	font-size: 11px;												/* Link Size */
	text-decoration: none;									/* Remove underlines */
}

a:hover {
	color:purple ;														/* Link hover color */
}

.block {
	border-left: 0px solid #999;						/* Left border of link block */
	float: left;
	padding: 1em;														/* Padding around link block */
	hight: 120px;														/* Link block width */
}

h1 {
	margin: 0;
	font-size: 1.3em;												/* Title size */
}

ul {
	padding: 0.25em;
}

ul li {
	list-style: none;
	padding: 1px;
}

form {
		position: absolute;				
		right: 50%; 
		left:33%;
		top: 40%;
		width: 35%;
		text-align: center;
		opacity: 0.9;
	}
	
	input {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		
		width: 100%;
		font-size: 35px;
		font-weight: normal;
		outline:none;
		border: true;
		border-radius: 20px;
		min-width: 100px;
		padding: 7px 0 7px 7px;
	}


